Repository jitesoft/yolog, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, code-style, build, docs, source, package-updates

.github/labeler.yml:

tests:
  - tests/*.js
code-style:
  - ./**/*.eslint*
build:
  - ./**/*.babel*
  - webpack.config.js
docs:
  - README.md
source:
  - src/*.js
package-updates:
  - package.json
  - package-lock.json

Updated changes with current changelog.
  CHANGES.md
Labels: none

Updated the d.ts file.
  Yolog.d.ts
Labels: none

Cleanup in readme!
  README.md
Labels: docs

Error object was changed to be plucked from the argument list if passed. (Resolves #32) Added colour disabling on console plugin for node.js (while console does not require it) (Resolves #31).
  .gitignore
  CHANGES.md
  LICENSE
  README.md
  package-lock.json
  package.json
  src/Yolog.js
  src/YologPlugin.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
  tests/Yolog.test.js
Labels: tests, docs, source, package-updates

Introduced 'setDateFormatMethod' on console plugins allowing users to change from the pre-defined to another.
  src/Yolog.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
Labels: source

Updated changelog.
  CHANGES.md
Labels: none

Minor cleanup of d.ts file.
  Yolog.d.ts
Labels: none

Removed source map generation.
  Yolog.d.ts
  webpack.config.js
Labels: build

bugfixes set to true in babel configs.
  .babelrc
  src/node/.babelrc
  src/web/.babelrc
Labels: build

Updated changes with current changelog.
  CHANGES.md
Labels: none

Updated the d.ts file.
  Yolog.d.ts
Labels: none

Removed priority test.
  tests/YologPlugin.test.js
Labels: tests

bugfixes set to true in babel configs.
  .babelrc
  src/node/.babelrc
  src/web/.babelrc
Labels: build

Minor cleanup of d.ts file.
  Yolog.d.ts
Labels: none

Introduced 'setDateFormatMethod' on console plugins allowing users to change from the pre-defined to another.
  src/Yolog.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
Labels: source

Missing removal of private #priority variable.
  src/YologPlugin.js
Labels: source

Removed source map generation.
  Yolog.d.ts
  webpack.config.js
Labels: build

Error object was changed to be plucked from the argument list if passed. (Resolves #32) Added colour disabling on console plugin for node.js (while console does not require it) (Resolves #31).
  .gitignore
  CHANGES.md
  LICENSE
  README.md
  package-lock.json
  package.json
  src/Yolog.js
  src/YologPlugin.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
  tests/Yolog.test.js
Labels: tests, docs, source, package-updates

Cleanup in readme!
  README.md
Labels: docs

Updated changelog.
  CHANGES.md
Labels: none

Removed deprecated 'priority' get/set from plugins.
  src/YologPlugin.js
Labels: source

Removed sorting of plugins when added to yolog instance (deprecation notice since 2.6.0).
  src/Yolog.js
Labels: source

Added ability to turn of colour output in the nodejs console command (as per #31). Closes #31.
  src/node/ConsolePlugin.js
Labels: none

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Updated to latest packages. Events 2.0.0 (changed emitasync to emit).
  package-lock.json
  package.json
  src/Yolog.js
Labels: source, package-updates

Updated to latest packages. Events 2.0.0 (changed emitasync to emit).
  package-lock.json
  package.json
  src/Yolog.js
Labels: source, package-updates

Package updates. ESLint seems to have issues, so testing with a push.
  .eslintrc.json
  .github/workflows/codeql-analysis.yml
  package-lock.json
  package.json
  src/node/.eslintrc.json
  src/web/.eslintrc.json
Labels: code-style, package-updates

Updated package and lock-files to latest packages.
  package-lock.json
  package.json
Labels: package-updates

Package updates. ESLint seems to have issues, so testing with a push.
  .eslintrc.json
  .github/workflows/codeql-analysis.yml
  package-lock.json
  package.json
  src/node/.eslintrc.json
  src/web/.eslintrc.json
Labels: code-style, package-updates

Updated package and lock-files to latest packages.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates (webpack rc3).
  package-lock.json
  package.json
Labels: package-updates

Dependency updates (webpack rc3).
  package-lock.json
  package.json
Labels: package-updates

Package updates.
  package-lock.json
  package.json
Labels: package-updates

Package updates.
  package-lock.json
  package.json
Labels: package-updates

Added new predefined log method (notice). Introduced 'code' to predefined tag lists (following rfc 5424). Updated packages to latest versions.
  package-lock.json
  package.json
  src/Yolog.js
  src/YologPlugin.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
  tests/.eslintrc.json
  tests/Yolog.test.js
  tests/YologPlugin.test.js
Labels: tests, code-style, source, package-updates

Added new predefined log method (notice). Introduced 'code' to predefined tag lists (following rfc 5424). Updated packages to latest versions.
  package-lock.json
  package.json
  src/Yolog.js
  src/YologPlugin.js
  src/node/ConsolePlugin.js
  src/web/ConsolePlugin.js
  tests/.eslintrc.json
  tests/Yolog.test.js
  tests/YologPlugin.test.js
Labels: tests, code-style, source, package-updates

Ci fixes.
  .gitlab-ci.yml
  src/YologPlugin.js
Labels: source

Ci fixes.
  .gitlab-ci.yml
  src/YologPlugin.js
Labels: source
