Repository jitesoft/yolog, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, code-style, build, docs, source, package-updates

Changed to auto-build.
  .gitlab-ci.yml
  package.json
Labels: package-updates

Changed to auto-build.
  .gitlab-ci.yml
  package.json
Labels: package-updates

Updated sprintf to fix import issue.
  package-lock.json
  package.json
Labels: package-updates

Updated sprintf to fix import issue.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

Package updates.
  SECURITY.md
  package-lock.json
  package.json
Labels: package-updates

Package updates.
  SECURITY.md
  package-lock.json
  package.json
Labels: package-updates

Merge fix.
  package-lock.json
  package.json
Labels: package-updates

Minor package lock fix.
  package-lock.json
Labels: package-updates

Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package bumps.
  package-lock.json
  package.json
Labels: package-updates

chore: Package bumps.
  package-lock.json
  package.json
Labels: package-updates

Create dependabot.yml
  .github/dependabot.yml
Labels: none

fix: Fixed potential code injections.
  src/Yolog.js
Labels: source

fix: Fixed potential code injections.
  src/Yolog.js
Labels: source

chore: Package bumps.
  package-lock.json
  package.json
Labels: package-updates

fix: Swapped Object.hasOwn to core-js hasOwn polyfill with local scope.
  src/Yolog.js
Labels: source

fix: Swapped Object.hasOwn to core-js hasOwn polyfill with local scope.
  src/Yolog.js
Labels: source

chore: Package bumps.
  package-lock.json
  package.json
Labels: package-updates

chore: Dependabot
  .github/dependabot.yml
Labels: none

minor: Fixed docblock with T rather than real type.
  src/Yolog.js
Labels: source

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Dependency updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package bumps.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

chore: Package updates.
  package-lock.json
  package.json
Labels: package-updates

fix: package.json to reduce vulnerabilities
  package.json
Labels: package-updates

.github/labeler.yml:

tests:
  - tests/*.js
code-style:
  - ./**/*.eslint*
build:
  - ./**/*.babel*
  - webpack.config.js
docs:
  - README.md
source:
  - src/*.js
package-updates:
  - package.json
  - package-lock.json
